.collectionLink{
  color:grey;
  height: 30px;
  cursor: pointer;
  transition: 200ms color ease-in;
  display: flex;
  margin-right: '45px';
  align-items: center;
  text-decoration: none;
}

.collectionLink:hover{
  color:white
}

.collectionLink_icon{
  padding-left: 10px;
  padding-right: 10px;
}
